---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}


<h2>Conference Papers</h2>
<hr />

<p>
  <span style="color:#009051;"> [<b>ACL'25</b>]</span> <span style="color:black;">Reinforcing Compositional Retrieval: Retrieving Step-by-Step for Composing Informative Contexts</span><br>
  <span style="color:grey;">Quanyu Long∗, </span><b>Jianda Chen∗</b><span style="color:black;">, Zhengyuan Liu, Nancy F. Chen, Wenya Wang, Sinno Jialin Pan</span><br>
  The 63rd Annual Meeting of the Association for Computational Linguistics
</p>
<p>
  <span style="color:#009051;"> [<b>ICRA'25</b>]</span> <span style="color:black;">Latent Embedding Adaptation for Human Preference Alignment in Diffusion Planners</span><br>
  <span style="color:grey;">Wen Zheng Terence Ng, </span><b>Jianda Chen</b><span style="color:grey;">, Yuan Xu, Tianwei Zhang</span><br>
  IEEE International Conference on Robotics and Automation
</p>
<p>
  <span style="color:#009051;"> [<b>NeurIPS'24</b>]</span> <span style="color:black;">State Chrono Representation for Enhancing Generalization in Reinforcement Learning</span><br>
  <b>Jianda Chen</b><span style="color:grey;">, Wen Zheng Terence Ng, Zichen Chen, Sinno Jialin Pan, Tianwei Zhang</span><br>
  Advances in Neural Information Processing Systems
</p>
<p>
  <span style="color:#009051;"> [<b>EMNLP'24</b>]</span> <span style="color:black;">XplainLLM: A Knowledge-Augmented Dataset for Reliable Grounded Explanations in LLMs</span><br>
  <span style="color:grey;">Zichen Chen, </span><b>Jianda Chen</b><span style="color:grey;">, Ambuj Singh, Misha Sra</span><br>
  The 2024 Conference on Empirical Methods in Natural Language Processing
</p>
<p>
  <span style="color:#009051;"> [<b>IROS'24</b>]</span> <span style="color:black;">Off-dynamics Conditional Diffusion Planners</span><br>
  <span style="color:grey;">Wen Zheng Terence Ng, </span><b>Jianda Chen</b><span style="color:grey;">, Tianwei Zhang</span><br>
  International Conference on Intelligent Robots and Systems
</p>
<p>
  <span style="color:#009051;"> [<b>ICRA'24</b>]</span> <span style="color:black;">Improving the Generalization of Unseen Crowd Behaviors for Reinforcement Learning based Local Motion Planners</span><br>
  <span style="color:grey;">Wen Zheng Terence Ng, </span><b>Jianda Chen</b><span style="color:grey;">, Sinno Jialin Pan, Tianwei Zhang</span><br>
  IEEE International Conference on Robotics and Automation
</p>
<p>
  <span style="color:#009051;"> [<b>NeurIPS'22</b>]</span> <span style="color:black;">Learning Representations via a Robust Behavioral Metric for Deep Reinforcement Learning</span><br>
  <b>Jianda Chen</b><span style="color:grey;">, and Sinno Jialin Pan</span><br>
  Advances in Neural Information Processing Systems
</p>
<p>
  <span style="color:#009051;"> [<b>ICLR'22</b>]</span> <span style="color:black;">Learning Generalizable Representations for Reinforcement Learning via Adaptive Meta-learner of Behavioral Similarities</span><br>
  <b>Jianda Chen</b><span style="color:grey;">, and Sinno Jialin Pan</span><br>
  International Conference on Learning Representations
</p>
<p>
  <span style="color:#009051;"> [<b>AAAI'21</b>]</span> <span style="color:black;">Sequential Generative Exploration Model for Partially Observable Reinforcement Learning</span><br>
  <span style="color:grey;">Haiyan Yin, </span><b>Jianda Chen</b><span style="color:grey;">, Sinno Jialin Pan, and Sebastian Tschiatschek</span><br>
  AAAI Conference on Artificial Intelligence
</p>
<p>
  <span style="color:#009051;"> [<b>NeurIPS'20</b>]</span> <span style="color:black;">Storage Efficient and Dynamic Flexible Runtime Channel Pruning via Deep Reinforcement Learning</span><br>
  <b>Jianda Chen</b><span style="color:grey;">, Shangyu Chen, and Sinno Jialin Pan</span><br>
  Advances in Neural Information Processing Systems
</p>
<p>
  <span style="color:#009051;"> [<b>ICCV'19</b>]</span> <span style="color:black;">Accelerate Learning of Deep Hashing With Gradient Attention</span><br>
  <span style="color:grey;">Long-Kai Huang, </span><b>Jianda Chen</b><span style="color:grey;">, and Sinno Jialin Pan</span><br>
  International Conference on Computer Vision
</p>
<p>
  <span style="color:#009051;"> [<b>IJCAI'18</b>]</span> <span style="color:black;">Hashing over Predicted Future Frames for Informed Exploration of Deep Reinforcement Learning</span><br>
  <span style="color:grey;">Haiyan Yin, </span><b>Jianda Chen</b><span style="color:grey;">, and Sinno Jialin Pan</span><br>
  27th International Joint Conference on Artificial Intelligence
</p>

<h2>Preprints</h2>
<hr />

<p>
  <span style="color:black;">Position: Standard Benchmarks Fail – LLM Agents Present Overlooked Risks for Financial Applications</span><br>
  <span style="color:grey;">Zichen Chen, Jiaao Chen, </span><b>Jianda Chen</b><span style="color:grey;">, Misha Sra</span><br>
</p>
<p>
  <span style="color:black;">Mastering Continual Reinforcement Learning through Fine-Grained Sparse Network Allocation and Dormant Neuron Exploration</span><br>
  <span style="color:grey;">Chengqi Zheng, Haiyan Yin, </span><b>Jianda Chen</b><span style="color:grey;">, Wen Zheng Terence Ng, Yew-Soon Ong, Ivor Tsang</span><br>
</p>
<p>
  <span style="color:black;">LMExplainer: Grounding Knowledge and Explaining Language Models</span><br>
  <span style="color:grey;">Zichen Chen, </span><b>Jianda Chen</b><span style="color:grey;">, Yuanyuan Chen, Han Yu, Ambuj Singh, Misha Sra</span><br>
</p>




<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



